<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ps.sipnas.polbangtan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="ps.sipnas.polbangtan.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".services.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Firebase Notifications -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />

        <service
            android:name="ps.sipnas.polbangtan.services.FCMServices"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Camera -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ps.sipnas.polbangtan.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="ps.sipnas.polbangtan.ui.splash.SplashActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ps.sipnas.polbangtan.ui.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ps.sipnas.polbangtan.ui.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" />
        <activity android:name="ps.sipnas.polbangtan.ui.register.RegisterActivity" />
        <activity android:name="ps.sipnas.polbangtan.ui.home.upload.UploadActivity" />
        <activity android:name="ps.sipnas.polbangtan.ui.home.upload.spj.detail.DetailSpjActivity" />
        <activity android:name="ps.sipnas.polbangtan.ui.home.upload.kegiatan.detail.DetailKegiatanActivity" />
        <activity android:name="ps.sipnas.polbangtan.ui.home.detail.DetailSPDActivity" />
        <activity android:name="ps.sipnas.polbangtan.ui.profile.galeri.GaleriDetailActivity" />
        <activity android:name="ps.sipnas.polbangtan.ui.profile.edit.EditProfileActivity"></activity>
    </application>

</manifest>